.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.flex-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.flex-col {
  max-height: 100%;
}
.flex-center {
  margin: 0 auto;
}
.nav {
  width: 100%;
  position: relative;
  display: inline-block;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-align: center;
  align-items: center;
}
.nav li a i {
  vertical-align: middle;
  transition: color 0.3s;
  font-size: 20px;
}
.nav li:first-child {
  margin-left: 0 !important;
}
.nav li {
  padding: 0 1.5em;
  list-style-type: none;
}
.fixed-header {
  width: 100%;
  position: absolute;
  background: #111111;
  padding: 10px 0;
  color: #fff;
  top: 0;
}
.text-menu {
  font-weight: bold;
  color: #ff6600;
  text-decoration: none;
}
.Login {
  position: relative;
  float: right;
  margin-right: 50px;
  background-color: #111111;
  color: #ff6600;
  font-size: 18px;
  border: none;
}
.Register {
  position: relative;
  float: right;
  margin-right: 20px;
  background-color: #111111;
  color: #ff6600;
  font-size: 18px;
  border: none;
}
.Cart {
  margin-right: 20px;
  background-color: #111111;
  color: #ff6600;
  font-size: 18px;
  border: none;
}
